<ion-view >
  <ion-nav-buttons side="primary">
    <button nav-direction="back" class="button button-clear button-icon button-positive icon ion-ios-arrow-back" ng-click="historyBack()"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <a ng-href="{{room.settingURL}}">
      {{chat.name}}
    </a>
  </ion-nav-title>

  <ion-content class="padding">
    <div style="height: 10px"></div>
    <div class="list border-none" ng-repeat="chat in chatList" ng-class="[{'me':chat.userId==213}]" ng-if="chatList.length">
      <div class="item item-avatar-s chat-friend" ng-if="chat.userId!=213">
        <img ng-src="{{chat.user.face}}">

        <span class="badge avatar-badge avatar-badge-xs" ng-class="{'badge-positive':chat.user.friendType=='Messenger', 'badge-stable':chat.user.friendType=='facebook'}">
          <i class="icon ion-ios-bolt" ng-if="chat.user.friendType=='Messenger'"></i>
          <i class="icon ion-social-facebook light" ng-if="chat.user.friendType=='facebook'"></i>
        </span>

        <p class="chat-text stable-bg">
          {{chat.chatText}}</p>
      </div>

      <div class="item item-avatar-right-s chat-me text-right" ng-if="chat.userId==213">
        <img ng-src="{{chat.user.face}}">

        <p class="chat-text positive-bg text-left">
          {{chat.chatText}}</p>
      </div>
    </div>

    <div class="empty-des text-center padding" ng-if="chatList.length == 0">
      <h6 class="stable" ng-if="room.userList.length > 2">
        <i class="icon ion-ios-compose-outline" style="margin-right: 5px"></i>
        You created the group
        {{room.title}}
      </h6>

      <div style="height: 100px"></div>
      <div ng-if="room.userList.length == 2">
        <h3 class="stable">Start a conversation</h3>
        <h4 class="stable">{{room.title}}
          is on Messenger and will get your messages instantly.</h4>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-light chat-bar">
    <form class="row" name="theform">
      <input class="col col-75" type="text" ng-model="chatText" placeholder="Type a message" ng-minlength="1" ng-required="true">
      <button class="col button" ng-click="sendChat(chatText); chatText = null" ng-disabled="theform.$invalid">Send</button>
    </form>
  </ion-footer-bar>

</ion-view>
