<style>
  .plus-circle {
    display: inline-block;

    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px dashed #D9D9D9;
    padding: 7px;
  }

  .plus-circle i {
    font-size: 40px;
  }

  .item h3 small {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

</style>

<ion-view view-title="Groups" id="tab-groups">
  <ion-content>
    <div class="row" ng-repeat="group in groups">
      <div class="col col-100">
        <div class="list card">
          <a nav-direction="forward" class="item item-avatar item-avatar-center item-avatar-l text-center"
             href="#/room/{{room.id}}">
            <img ng-src="{{room.thumbnail}}">

            <h3>
              <small>{{group.name}}</small>
            </h3>

            <p>{{group.maphong}}</p>
          </a>

          <a nav-direction="forward" class="item item-divider text-center" href="#/room/{{room.id}}">
            <p>{{room.members}}</p>
          </a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
