<ion-view hide-nav-bar="true">
  <ion-content class="padding text-center">
    <div style="height: 25px"></div>

    <img src="img/logo.png" style="width: 150px; height: auto">

    <h2>Welcome to Work Chats</h2>

    <div style="height: 25px"></div>

    <div class="" style="width:60%; margin-left: 20%; ">
      <form name="loginForm" >

        <ion-list class="border-none">
          <ion-item class="item-input border-bottom">
            <input type="text" placeholder="Email" ng-model="loginData.email" ng-required="true" alt="" style=" font-weight: normal;">
          </ion-item>
          <ion-item class="item-input border-bottom">
            <input type="password" placeholder="Password" ng-model="loginData.password" ng-required="true" style=" font-weight: normal;">
          </ion-item>
        </ion-list>

        <div class="padding">
          <!-- <a class="button button-clear button-large" href="#/tab/activities">
            Continue
          </a> -->

          <button class="button button-medium button-positive" ng-disable="loginForm.$invalid" ng-click="login()" style="padding-left: 40px; padding-right: 40px">
            Sign In
          </button>
        </div>
      </form>

      <div class="">
          <a class="button button-clear" href="#/signUp" style="text-align: left">Sign Up</a>
          <a class="button button-clear" href="#/forgotPassword">Forgot password</a>
      </div>
    </div>

  </ion-content>


</ion-view>
