<style>
  .plus-circle {
    display: inline-block;

    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px dashed #D9D9D9;
    padding: 7px;
  }

  .plus-circle i {
    font-size: 40px;
  }

  /*.item h3 small {*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  /*}*/

</style>

<ion-view view-title="Groups" id="tab-groups">

  <ion-content>
    <div class="row" ng-repeat="group in groups">
      <div class="col col-50" ng-repeat="room in groups">
        <div class="list card">
          <a nav-direction="forward" class="item item-avatar item-avatar-center item-avatar-l text-center" href="#/room/{{room.id}}">
            <img ng-src="{{room.thumbnail}}">

            <h3>
              <small>{{room.title}}</small>
            </h3>

            <p>{{room.activeTime}}</p>
          </a>

          <a nav-direction="forward" class="item item-divider text-center" href="#/room/{{room.id}}">
            <p>{{room.members}}</p>
          </a>
        </div>
      </div>
    </div>

    <!--show when there is no group-->
    <!--<div class="row">-->
    <!--<div class="col text-center">-->
    <!--<div class="list card">-->
    <!--<div class="item" style="padding: 30px 15px">-->
    <!--<a class="plus-circle" ng-click="openNewGroup()">-->
    <!--<i class="icon ion-ios-plus-empty stable"></i>-->
    <!--</a>-->

    <!--<div style="height: 10px"></div>-->
    <!--<h2 class="positive">-->
    <!--<small>New Group</small>-->
    <!--</h2>-->
    <!--<p class="stable">for family?</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col text-center">-->
    <!--<div class="list card">-->
    <!--<div class="item" style="padding: 30px 15px">-->
    <!--<a class="plus-circle" ng-click="openNewGroup()">-->
    <!--<i class="icon ion-ios-plus-empty stable"></i>-->
    <!--</a>-->

    <!--<div style="height: 10px"></div>-->
    <!--<h2 class="positive">-->
    <!--<small>New Group</small>-->
    <!--</h2>-->
    <!--<p class="stable">for dinner plans?</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col text-center">-->
    <!--<div class="list card">-->
    <!--<div class="item" style="padding: 30px 15px">-->
    <!--<a class="plus-circle" ng-click="openNewGroup()">-->
    <!--<i class="icon ion-ios-plus-empty stable"></i>-->
    <!--</a>-->

    <!--<div style="height: 10px"></div>-->
    <!--<h2 class="positive">-->
    <!--<small>New Group</small>-->
    <!--</h2>-->
    <!--<p class="stable">for photos?</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col text-center">-->
    <!--<div class="list card">-->
    <!--<div class="item" style="padding: 30px 15px">-->
    <!--<a class="plus-circle" ng-click="openNewGroup()">-->
    <!--<i class="icon ion-ios-plus-empty stable"></i>-->
    <!--</a>-->

    <!--<div style="height: 10px"></div>-->
    <!--<h2 class="positive">-->
    <!--<small>New Group</small>-->
    <!--</h2>-->
    <!--<p class="stable">for team?</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </ion-content>
</ion-view>
