<ion-view view-title="Members">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon button-positive icon ion-ios-compose-outline"
            ng-click="openNewChat()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list ng-if="memberOfGroups">
      <ion-item>
        <button class="button button-small button-block icon-left ion-ios-search"
                ng-click="openSearch()"
                style="margin: 0">
          Search for people and groups
        </button>
      </ion-item>


      <ion-list ng-repeat="member in memberOfGroups">
        <ion-item class="item-remove-animate item-avatar item-icon-right" nav-direction="forward"
                  href="#/tab/chatMember/{{member.$id}}"
                  type="item-text-wrap">
          <img ng-src="{{member.avatar}}">

          <span class="badge avatar-badge avatar-badge-s"
                ng-class="{'badge-positive':true, 'badge-stable':true}"
                ng-if="true">
                        <i class="icon ion-ios-bolt" ng-if="true"></i>

                    </span>

          <h3>
            <small>{{member.name}}</small>
          </h3>

          <p>{{room.latest_chat}}</p>

          <span class="item-note">{{room.activeTime}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <!--<ion-option-button class="button-assertive" ng-click="remove(room)">-->
            <!--Delete-->
          <!--</ion-option-button>-->

        </ion-item>
      </ion-list>
    </ion-list>

    <!--show when there is no activity-->
    <div ng-if="!memberOfGroups">
      <div style="height: 60px"></div>
      <div class="text-center" style="padding: 45px">
        <h2 class="grey">
          Members
        </h2>

        <div style="height: 10px"></div>
        <h4 class="grey">Once you start chatting, all your messages will be here.</h4>

        <div style="height: 20px"></div>
        <button class="button button-outline" ng-click="openNewChat()">New Message</button>
      </div>
    </div>
  </ion-content>
</ion-view>
