<ion-view hide-nav-bar="true">
  <ion-content class="padding text-center">
    <div style="height: 25px"></div>

    <img src="img/logo.png" style="width: 150px; height: auto">

    <h2>Forgot password?</h2>
    <p>Please enter your email to get your new password.</p>

    <div style="height: 25px"></div>

    <div class="" style="width:60%; margin-left: 20%; ">

      <form name="forgotPasswordForm">
        <ion-list class="border-none">
          <ion-item class="item-input border-bottom">
            <input type="text" name="email" placeholder="Email" ng-model="forgotPassword.email" ng-required="true" alt="" style=" font-weight: normal;">
          </ion-item>
        </ion-list>
          <h6 ng-show="forgotPasswordForm.email.$valid && forgotPasswordForm.email.$touched" >input do not match.</h6>
          <br>
      </form>

      <div class="padding">
        <button class="button button-medium button-positive" ng-disabled="forgotPasswordForm.email.$invalid" ng-click="btnForgotPassword()" style="padding-left: 40px; padding-right: 40px;">
          Send Email
        </button>
      </div>

    </div>

  </ion-content>

</ion-view>
